{% extends "blog/base.html" %}

{% block content %}
<div id="contents">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>Recent Journals</h2>
                <div id="til-items">
                </div>
            </div>
            <div class="col-md-9">
                {% if authenticated %}
                <h2>Add Journal</h2>
                <form id="journal-form">
                    {% csrf_token %}
                    <table class="table table-striped">
                        <tr class="form-item">
                            <td><label>Content:</label></td>
                            <td><textarea cols="60" rows="10" name="content"></textarea></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button class="btn btn-info btn-block" type="button" onclick="submitJournal()">Add</button></td>
                        </tr>
                    </table>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function submitJournal() {
        $.post('/journal/', $('#journal-form').serialize(), function(data) {
            alert('Journal Added');
            $('input[type=text], textarea').val("");
        })
        .fail(function(data) {
            if(data.status==403) {
                alert('You are forbidden');
            }
            else if (data.status==400) {
                alert(JSON.parse(data.responseText).message);
            }
            else alert('Something went wrong');
        });
    }
</script>
{% endblock %}
