{% extends "blog/base.html" %}
{% load staticfiles %}

{% block content %}
<div id="article">
    <div class="container-fluid">
        <div class="row">
            <div id="article-title">
                <span id="article-title-text">That's Me</span>
            </div>
            <div class="col-md-4" id="article-content" style="padding-right:-100px">
                <img src="{% static 'img/blogimage.jpg' %}">
            </div>
            <div class="col-md-7 aboutme-content ">
                <div class="">
                    right there on the left.<hr>
                    <b>December 29th, 1994 [Meghauli, Chitwan]</b><br><hr>
                    always a <b>proud Nepali</b><br><hr>
                    a Computer Engineer. <br><hr>
                    <b> School: </b> Valmiki Shiksha Sadan, Bharatpur<br><hr>
                    <b> High School: </b> SOS Hermann Gmeiner School, Bharatpur<br><hr>
                    <b> BE : </b> IOE Pulchowk Campus, Lalitpur<br><hr>
                    loves <b>Programming & Mathematics</b> a lot.. And people too!<br><hr>
                    <b>Sports:</b> Table Tennis and Swimming.<br><hr>
                    <b>Hobbies:</b> friends, 'math'ing, travelling, sketching, music<br><hr>
                    <!-- <b>Social:</b>
                            <a class="small-a" href="http://www.facebook.com/be.pandey">Facebook</a> 
                            <a class="small-a" href="http://www.twitter.com/be_pandey">@be_pandey</a> 
                            <a class="small-a" href="http://www.linkedin.com/in/bibek-pandey-023879b1">Linkedin</a><br>
                            <a class="" href="http://www.github.com/bewakes">Github</a><br>
                    -->
                    <b>loves</b> laughing, making people laugh and being made laugh<br><hr>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
