{% extends "blog/base.html" %}
{% load staticfiles %}

{% block content %}
<div id="article">
    <div class="container-fluid">
        <div class="row">
            <div id="article-title">
                <span id="article-title-text">That's Me</span>
            </div>
            <div class="col-md-4" id="article-content" style="text-align:right">
                <img src="{% static 'img/blogimage.jpg' %}" style="width:350px;max-height:100%">
            </div>
            <div class="col-md-8 aboutme-content ">
                <div class="">
                    Right there on the picture.<hr>
                    Born: <b>December 29th, 1994 [Meghauli, Chitwan]</b><br><hr>
                    Profession: <b>Computer Engineering.</b> <br><hr>
                    School: <b>Valmiki Shiksha Sadan, Bharatpur</b><br><hr>
                    High School: <b>SOS Hermann Gmeiner School, Bharatpur</b><br><hr>
                    BE: <b>IOE Pulchowk Campus, Lalitpur</b><br><hr>
                    Favourite Sports: <b>Table Tennis and Swimming.</b><br><hr>
                    Hobbies: <b>friends, 'math'ing, travelling, sketching, music</b><br><hr>
                    laughing, making people laugh and being made laugh feel so good.<br><hr>
                    <b>I want to be a great mathematician</b><hr>
                    <b>I care for spreading love and happiness all over the world</b><hr>
                    I am always a <b>proud Nepali</b><br><hr>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
