{% extends "blog/base.html" %}
    {% block content %}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
    <script type="text/javascript" async
              src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
          </script>
        {# content part #}
        <div id="contents">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-sm-1"></div>
                    <div class="col-md-6 col-sm-10">
                        <div id="article">
                            <div id="article-title">
                                <span id="article-title-text"> {{article.title}}</span>
                                <div id="blogpost-date">{{article.published_date.date}}</div> 
                            </div>
                            <div id="tags"> {# article tags #}
                                <ul class="list-inline">
                                    <i class="fas fa-tags" style="margin-right:6px;color:#777"></i>&nbsp;
                                    {% for tag in article_tags %}
                                    <li class="tag-element">
                                        <a href="{% url 'posts'%}?tag={{tag.name}}">{{tag.name}}</a> 
                                        {% with len=article_tags|length %}
                                        {%if forloop.counter < len %} , {% endif %}
                                        {% endwith %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div id="article-content" class="text-justify">
                                {% load markdown %}
                                {% with markdowned=article.content|markdownify %}
                                <p>{{markdowned | safe}}</p>
                                {% endwith %}
                                <hr>

                                <div class="row">
                                    <span class="col-md-3 arrow-left">
                                    {% if previous_article %}
                                        <a href="{% url 'home' previous_article.slug %}" title="{{previous_article.title}}">&lt;&lt; Previous</a>
                                    {% endif %}
                                    </span>
                                    <span class="col-md-6 text-center">
                                        <div style="margin-top:25px" class="fb-like" data-href="http://bewakes.udghos.com/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                                    </span>

                                    <span class="arrow-right col-md-3 text-right">
                                    {% if next_article %}
                                    <a href="{% url 'home' next_article.slug %}" title="{{next_article.title}}">Next &gt;&gt;</a>
                                    {% endif %}
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-1"></div>
                    <!--<div class="col-md-3">
                        <div id="side-pane">
                            <h2><u>Recent posts</u></h2><br>
                            <ul class="list-unstyled">
                                {% for recent in recent_posts %}
                                <li><a href="{% url 'home' recent.slug %}">{{recent.title}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    -->
            </div>
        </div>

        {# comment part #}
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div id="disqus_thread"></div>
                    <script>

                    /**
                    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                    /*
                    var disqus_config = function () {
                    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                    */
                    (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://bewakes-com.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                    })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                </div>
                <div class="col-md-3"></div>
            </div>
        {% endblock %}
        {% block scripts %}
        {% endblock %}


