{% load staticfiles %}
<html>
    <head>
        <title>{% if article.title %} {{article.title}}
            {% else %}BeWakes
            {% endif %}
        </title>
        <meta property="og:url" content="http://bewakes.udghos.com" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="{{article.title}}" />
        <meta property="og:description"   content="{{article.content|truncatechars:50}}" />

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather|Ubuntu|Bitter|Arvo|Quicksand|Cantarell|Lato|Open+Sans|Vollkorn">
        <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'default.css' %}">
    </head>

    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=330985767105473";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        {# header #}
        <div id="page-header">
            <div class="container">
                <div class="row">{# for blog title #}
                    <div class="col-md-4"></div>
                    <div id="blog-title" class="col-md-4">{# for title #}
                        <img id="wakes" src="{%static 'img/wakes.png' %}" style="display:block">
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row"> {# subitle of the blog #}
                </div>
                <hr><hr class="short-hr">
                <div class="row"> {# for navigation links and search #}
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">{# for links #}
                        <ul class="list-inline text-center navbar-link" style="font-size:1.2em">
                            <li><a href="{% url 'index' %}">HOME</a>
                                <span class="link-separator">/</span>
                            </li>
                            <li><a href="{% url 'posts' %}">POSTS</a>
                                <span class="link-separator">/</span>
                            </li>
                            <li><a href="{% url 'contact' %}">CONTACT</a>
                                <span class="link-separator">/</span>
                            </li>
                            <li><a href="{% url 'about' %}">ABOUT</a>
                            </li>
                        </ul>
                        <hr>
                    </div>
                    <div class="col-md-3"> {# for search #}
                        <span id="search-icon" onclick="searchIconClick()" class="glyphicon glyphicon-search"></span>
                        <input id="searchbox" type="text" placeholder="Search for Articles"/>
                        <div id="search-result">{# display search result #}
                            <ul id="search-result-list" class="list-group">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block content %}
        {% endblock %}
        <footer>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="text-center aboutme-content">
                            <b>Copyright &copy; 2017</b><br>
                            Articles by <span ><a class="undecorated-a" href="/about/">Bibek Pandey(bewake)</a></span><br>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </footer>
        </body>
    
        <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
        <script src="{% static 'custom.js' %}"></script>

        <script>
        // when the contents of the searchbox change
        $("#searchbox").on('input', function(e) { 
            var query = $("#searchbox").val();

            // send post request
            $.ajax({
                "type":"GET",
                //"contentType":"application/json",
                "url":"{% url 'searchresult' %}",
                "data":{query:query, csrfmiddlewaretoken:'{{csrf_token}}'}
            })
            .done(function(msg) {
                var jsondata = JSON.parse(msg);
                populateSearchResult(jsondata);
            });
        });

        // global variable for searchbox
        var g_searchbox = document.getElementById('searchbox');

        // to hide the input box
        document.onload = load();
        // to blur the searchbox
        document.onclick = function(e)
            {
                if(e.target.id!='searchbox' && e.target.id!="search-icon")
                {
                    g_searchbox.style.visibility="hidden";
                    $("#search-result").hide();
                }
            }

    </script>

        {% block scripts %}
        {% endblock %}
    </html>

