{% extends "blog/base.html" %}
    {% block content %}
    <div id="contents">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-1"></div>
                <div class="col-lg-6 col-md-10">
                    <div id="article">
                        <div id="article-title">
                        </div>
                        <div id="homepage-content" class="homepage-content">
                            <h1 class="text-center"> Namaste !!</h1>
                            <br/>
                            I am <b><a href="about">Bibek Pandey</a></b>. You may call me <b> pandu </b> as well.
                            This is where I write down my heart out.
                            I am a Computer Programmer. No wonder why I write geeky stuffs like
                            <a href="blog/posts/?tag=programming">these</a>, and 
                            <a href="blog/posts/?tag=mathematics">these</a>. <br/>
                            <b>But</b>,<br/>
                            Not that boring either.
                            I try to write 
                            <a href="blog/posts/?tag=poem">poems</a>, 
                            <a href="blog/posts/?tag=experience">experiences</a>, 
                            <a href="blog/posts/?tag=love"><b>love</b></a>, 
                            <a href="blog/posts/?tag=humor">humor</a> and some
                            <a href="blog/posts/?tag=random">random articles</a> as frequently as possible. <br/>
                            So you can stay around and explore for a while.
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-1"></div>
                <div class="col-lg-12" style="display:none">
                    <div id="article">
                        <div id="article-title">
                            <span id="article-title-text">Tags</span>
                        </div>
                        <div id="article-content" class="text-center">
                            {% for tag in tags %}
                                <hr>
                                <a class="nodecor" align="center" href="{% url 'posts'%}?tag={{tag.name}}">{{tag.name}}</a><br>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
{% endblock %}
