{% extends "blog/base.html" %}
    {% block content %}
        {# content part #}
        <div id="contents">
            <div class="container-fluid">
                <div class="row">
                    <div class="coal-md-12">
                        <div id="article">
                            <div id="article-title">
                                <span id="article-title-text"> {{article.title}}</span>
                                <div id="blogpost-date">{{article.published_date.date}}</div> 
                            </div>
                            <div id="tags"> {# article tags #}
                                <ul class="list-inline">
                                    <span class="glyphicon glyphicon-tags" style="color:#777"></span>&nbsp;
                                    {% for tag in article_tags %}
                                    <li class="tag-element">
                                        <a href="#">{{tag.name}}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div id="article-content" class="text-justify">
                                {% load markdown %}
                                {% with markdowned=article.content|markdownify %}
                                <p>{{markdowned | safe}}</p>
                                {% endwith %}
                                <hr>

                                <div class="row">
                                <span class="col-md-3 arrow-left">
                                {% if previous_article %}
                                    <a href="{% url 'home' previous_article.slug %}" title="{{previous_article.title}}">&lt;&lt; Previous</a>
                                {% endif %}
                                </span>
                                <span class="col-md-6"></span>

                                <span class="arrow-right col-md-3 text-right">
                                {% if next_article %}
                                <a href="{% url 'home' next_article.slug %}" title="{{next_article.title}}">Next &gt;&gt;</a>
                                {% endif %}
                                </span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-3">
                        <div id="side-pane">
                            <h2><u>Recent posts</u></h2><br>
                            <ul class="list-unstyled">
                                {% for recent in recent_posts %}
                                <li><a href="{% url 'home' recent.slug %}">{{recent.title}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    -->
            </div>
        </div>

        {# comment part #}
        <!--
        <div id="comments-section" class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    <div class="white-bg comment-container">
                        <h2><u><b><i>{{comments.count}} comment{{comments.count|pluralize}}</i></b></u></h2>
                        {% for comment in comments %}
                        <div class="" style="float:left;margin:10px;">
                            <span class="glyphicon glyphicon-user user-pic"></span>
                        </div>
                        <div class=""> 
                            <span class="username">{{comment.username}}</span>
                            <span class="comment-date text-right"> {{comment.comment_date.date}}</span>
                            <p class="text-left">{{comment.text}}</p>
                            <hr class="short-hr">
                        </div>
                        {% endfor %}

                        <div style="padding:10px">
                            <h2>Your comment..</h2>
                            <form action="{% url 'comment' %}" method="post">
                            {% csrf_token %}
                                <div id="comment-form">
                                    <label>Name:</label>
                                    <input name="name" class="textbox-name" type="text" placeholder="Your Name"><hr class="hr-short">
                                    <input type="hidden" name="slug" value="{{article.slug}}">
                                    <label>Comment:</label>
                                    <textarea name="comment" class="textbox-comment" type="textarea" placeholder="Comment.."></textarea><br><br>
                                    <input class="submit-button" type="submit" value="Post comment">
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
        -->
        {% endblock %}
        {% block scripts %}
        {% endblock %}


