{% extends "blog/base.html" %}
{% load staticfiles %}

{% block content %}
<div  id="article" class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="article-title">
            <span id="article-title-text">
                {{title}}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"> </div>
        <div class="col-md-7 contact-content text-justify">
            <div class="text-center">
                <hr>
                {% if not items %}
                No {{title}} found<br>
                {% endif %}
                {% for x in items %}
                <a class="nodecor" href="{{x.path}}">{{x.name}}</a> 
                    <hr>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}
