{% extends "blog/base.html" %}
{% load staticfiles %}

{% block content %}
<div  id="article" class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="article-title">
            <span id="article-title-text">
                Posts {{searchtext}}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"> </div>
        <div class="col-md-7 contact-content text-justify">
            <div class="text-center">
                <hr>
                {% if not articles %}
                No results<br>
                {% endif %}
                {% for x in articles %}
                <a class="nodecor" href="{% url 'home' x.slug %}">{{x.title}}</a><br>
                <small style="font-size:0.65em;color:#999">{{x.published_date}}</small>
                <hr>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}
